/* parallax CSS */

/* potential FF fix?
https://alligator.io/css/pure-css-parallax/
*/

/* https://keithclark.co.uk/articles/pure-css-parallax-websites/ */
/* http://www.sanwebcorner.com/2018/02/how-to-set-different-scroll-speed-for.html */
/* http://www.webtutorialplus.com/parallax-scrolling-effect-with-jquery/ */

.parallax {
  position: absolute;
  bottom: -14vmin;
  right: 24vmin;
  height: 76vmin;
  z-index: 1;
  -webkit-transform: translateZ(0.65px) scale(0.6);
  transform: translateZ(0.65px) scale(0.6);
}

#globe {
  max-width: 100%;
  max-height: 100%;
}
